* {
    margin: 0 auto;
    padding: 0;

}

body {
    background-color: white;

}

input {
    box-shadow: 0px 0px 20px #dddddd;
}

.all {
    width: 95%;
    height: 97%;
    padding-top: 30px;
    margin: 0 auto;
    max-width: 2000px;
    min-width: 900px;

}

.xueshu {
    width: 40%;

}

.xueshu input {

    border-radius: 5px;
}

.time {
    width: 90%;
    line-height: 33px;
    /* font-size: 17px; */
    position: relative;

}

.time p {
    margin-bottom: 15px;
}

.time input {
    border: 0px;
}
.time select{
    vertical-align: middle;
}
.wenjian {
    margin-bottom: 15px;
}
.wenjian input {
    box-shadow: none;
    background-color: none;
}

.xia {
    text-align: center;
    margin-top: 40px;
}

.layui-input-block {

    border: 0px;
}

.xia button {
    border-radius: 5px;
    background-color: #027DB4;
    width: 15%;
}

.q {
    margin-left: 40px;
}