<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cqwu.SRI.mapper.UserLoginMapper">
	<!--修改用户信息-->
	<update id="updateUserInfo">
		update users
		<set>
			<if test="utel != null and utel != ''">utel = #{utel},</if>
			<if test="upwd != null and upwd != ''">upwd = #{upwd}</if>
		</set>
		where uid = #{uid}
	</update>

	<!--查询用户各个科研信息的数量-->
	<select id="selectAchievementCount" resultType="java.lang.Integer">
  		select count(*) from achievement
        <where>
        	atime &gt;= &apos;${year}-01-01&apos; and atime &lt;= &apos;${year}-12-31&apos;
            <if test="utype != 'admin'">
                and uid = #{uid}
            </if>
        </where>
	</select>
	
	<select id="selectLxCount" resultType="java.lang.Integer">
  		select count(*) from lx
        <where>
        	lbtime &gt;= &apos;${year}-01-01&apos; and lbtime &lt;= &apos;${year}-12-31&apos;
            <if test="utype != 'admin'">
                and uid = #{uid}
            </if>
        </where>
	</select>
	
	<select id="selectHxCount" resultType="java.lang.Integer">
  		select count(*) from hx
        <where>
        	hbtime &gt;= &apos;${year}-01-01&apos; and hbtime &lt;= &apos;${year}-12-31&apos;
            <if test="utype != 'admin'">
                and uid = #{uid}
            </if>
        </where>
	</select>
	
	<select id="selectThesisCount" resultType="java.lang.Integer">
  		select count(*) from thesis
        <where>
        	ttime &gt;= &apos;${year}-01-01&apos; and ttime &lt;= &apos;${year}-12-31&apos;
            <if test="utype != 'admin'">
                and uid = #{uid}
            </if>
        </where>
	</select>
	
	<select id="selectPatentCount" resultType="java.lang.Integer">
  		select count(*) from patent
        <where>
        	ptime &gt;= &apos;${year}-01-01&apos; and ptime &lt;= &apos;${year}-12-31&apos;
            <if test="utype != 'admin'">
                and uid = #{uid}
            </if>
        </where>
	</select>
	
	<select id="selectAworkCount" resultType="java.lang.Integer">
  		select count(*) from awork
        <where>
        	awtime &gt;= &apos;${year}-01-01&apos; and awtime &lt;= &apos;${year}-12-31&apos;
            <if test="utype != 'admin'">
                and uid = #{uid}
            </if>
        </where>
	</select>
	
	<select id="selectSworkCount" resultType="java.lang.Integer">
  		select count(*) from swork
        <where>
        	swtime &gt;= &apos;${year}-01-01&apos; and swtime &lt;= &apos;${year}-12-31&apos;
            <if test="utype != 'admin'">
                and uid = #{uid}
            </if>
        </where>
	</select>

</mapper>