*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
}

.main-box{
    width: 95%;
    height: 97%;
    padding-top:30px ;
    margin: 0 auto;
    max-width: 2000px;
    min-width: 900px;
}


.head table{
    font-size: 16.8px;
    height: 50px;
}

#form label{
    width: 30%;
    margin: 0px;
    padding: 9px 0px;
    position: relative;
    
}

#form input{
   
    box-shadow: 0px 0px 20px #dddddd;
    position: relative;
}


#form select{
    width: 50%;
    border-radius: 5px;
    font-size: 18px;
}
#form button{
    width: 70px;
    height: 30px;
    background-color: #027DB4;
    border-radius: 5px;
    color: #F2F2F2;
    border: 0px;
    box-shadow: 0px 0px 20px #dddddd;

}

.kuang{
    padding-top: 15px;
    
}
.kuang table{
    width: 100%;
        text-align: center;
        line-height: 40px;
}
.kuang table a{
    color: #00a6ff;
}
.kuang table tr{
    border: 1px solid #ccc;
}
th,
table tr td{
    border: 1px solid #ccc;
}
#form td{
    border: none;
}